{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 80,
  "singleQuote": true,
  "svelteSortOrder": "scripts-options-markup-styles",
  "trailingComma": "none",
  "useTabs": false
}
